@charset "UTF-8";

body {
    background-color: rgba(0, 255, 255, 0.735);
}

p, .title {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

/*Unidade de medidas*/
.pixel-1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2 {
    background-color: blue;
    width: 500px;
    height: 50px;
    margin: 5px 0;
}

.pai-porcentagem {
    height: 500px;
    width: 500px;
    background-color: rgb(126, 0, 0);
}

.porcentagem-1 {
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.porcentagem-2 {
    width: 50%;
    height: 50%;
    background-color: purple;
}