@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #CCC;
}

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/