@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box; /* Deixa todos os elementos com o limite da borda correto, pois alguns elementos pega outros limites e ficam maiores que os outros, com isso padronizamos tudo */
}

html { /* Para deixar o rodape sempre no final*/
  min-height: 100vh;
  position: relative;
}

main {
  margin-bottom: 250px;
}

/* NAVBAR */

#logo {
  position: absolute;
  top:10px;
  left: 9.5%;
}

#logo img {
  width: 50px;
}

#navbar {
  display: flex; /* Para facilitar de acertar os elementos */
  align-items: center; /* Tambem e uma propriedade do flexbox */
  justify-content: center;
  background-color: #161616;
  padding: 20px;
  text-transform: uppercase;
  list-style: none;
}

#navbar li {
  margin: 0px 10px;
  padding: 5px;
}

#navbar .nav-link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 14px;
}

#navbar .nav-link:hover {
  color: #999;
  font-weight: bold;
}

/* HOME */

#title-container {
  min-width: 500px;
  text-align: center;
  margin-top: 30px;
}

#title-container h1 {
  font-size: 50px;
}

#title-container p {
  margin-top :10px; /* Para afastar do titulo */
  text-transform: uppercase;
  color: #999;
}

#posts-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap; /*Faz com que os posts fiquem um abaixo do outro, quando atingirem sua largura*/
}

.post-box:first-child {
  min-width: 100%;
}

.post-box {
  flex: 1 1 0; /* Para ter uma largura pre determinada com flex */
  margin-bottom: 20px; /*Para afastar o conteudo*/
}

.post-box:nth-child(3) {
  margin: 0 1%;
}

.post-box img {
  width: 100%;
}

.post-box .post-title {
  font-size: 24px;
  margin: 10px 0;
}

.post-box .post-title a {
  color: #000;
  transition: 0.5s;
}

.post-box .post-title a:hover {
  color: #999;
}

.post-box .post-descripiton {
  color: #666;
}

.tags-container {
  margin-top: 10px;
}

.tags-container a {
  font-size: 14px;
  color: #333;
  display: inline-block;
  margin-right: 5px;
}

/* POST */

#post-container {
  display: grid; /* Define um layout em grade (grid). Um layout em grade (grid) é um sistema de design usado no CSS que permite organizar elementos da página em linhas e colunas. Imagine uma grade como uma tabela invisível, onde você pode colocar e posicionar elementos (como blocos de texto, imagens, etc.) em diferentes células dessa "tabela".*/
  grid-template-columns: 75% 25%; /* Cria duas colunas: a primeira com 75% e a segunda com 25% da largura. */
  grid-template-rows: auto; /* Altura das linhas ajustada automaticamente. */
  grid-template-areas: "main sidebar"; /* Define duas áreas: 'main' e 'sidebar'. Você pode usar qualquer nome que desejar, mas "main" e "sidebar" são comuns porque refletem a estrutura típica de muitos layouts de sites. Eles não são obrigatórios, mas ajudam a manter o código organizado e compreensível. Criar áreas como "main" e "sidebar" em um layout de grid tem a ver com organizar o conteúdo da página de forma semântica e prática */
  grid-gap: 10px; /* Espaçamento de 10px entre as colunas e linhas. */
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.content-container {
  grid-area: main; /* Associa este bloco à área 'main' da grade. */
}

#main-title {
  font-size: 36px;
  margin-bottom: 30px;
}

#post-description {
  font-style: italic;
  margin-bottom: 40px;
}

.post-content {
  line-height: 1.8;
  margin: 10px 0;
}

.img-container {
  margin-bottom: 30px;
}

.img-container img {
  width: 60%;
}

/* POST ASIDE */

.nav-container {
  grid-area: sidebar;
}

#tags-title, #categories-title {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  cursor: context-menu;
}

#tag-list, #categories-list {
  list-style: none;

}

#tag-list li, #categories-list li {
  margin-bottom: 10px;
}

#tag-list a, #categories-list a {
  color: #666;
  transition: 0.5s;
}

#tag-list a:hover, #categories-list a:hover {
  color: #000;
}

/* FOOTER */

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 50px 0;
}

/* MOBILE */

@media(max-width: 480px) {
  /* HOME */
  header {
    width: 100%;
  }
  
  #logo {
    display: block;
    position: relative;
    margin: 0 auto; 
    left: 0; /* Estamos zerando esse valor para ele nao ficar meio pro lado, ja que mais acima usamos um left de 9.5 */
    width: 50px;
  }
  #navbar {
    display: none;
  }
  #title-container {
    min-width: 100%;
    margin-top: 20px;
  }
  #post-container {
    margin-top: 20px;
  }
  .post-box {
    flex: 100% 1 0; /* Sempre ira ocupar 100%, independente do post */
    padding: 15px;
    margin: 0;
  }
  /*POST*/
  #post-container {
    grid-template-columns: 100%; /* Nao tera mais as colunas divididas, agora as duas representam 100% */
    padding: 15px;
    grid-template-areas: "main"
    "sidebar"; /* Com isso estamos fazendo com que um fique abaixo do outro */
  }
  .img-container img {
    width: 100%;
    
  }
}

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
