@charset "UTF-8";

/*Geral*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Usado para os inputs nao ultrapasarem os limites das divs */
}

/*Containers*/
#main-container {
    display: flex;
    flex-direction: row; /* Com isso dizemos que nosso projeto tem apenas uma linha porem com divisoes */
    height: 100vh;
    width: 100vw;
}

#address-container,
#form-container {
    flex: 1 1 0; /* Deixamos as duas linhas colunas iguais em largura, 1 = de tamanho, 1 = diminuir de formas iguais e 0 = tamanho base, calculando automatico metade da tela*/
    height: 100%; /*Com isso ira acompanhar a div pai (#main-container)*/
    text-align: left;
}

/*Address Container contem a imagem de fundo*/
#address-container {
    background-image: url('../img/project_bg.jpg');
    background-size: cover;
    background-position-x: -130px;
    color: #FFF;
    position: relative;
}

.fade {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}

#address-content {
    position: absolute;
    top: 25vh;
    left: 35vh;
    width: 300px;
}

#address-content h2{
    color: #00AD5E;
    margin-bottom: 15px;
    position: relative;
    padding-left: 40px;
}

#address-content ion-icon {
    position: absolute;
    top: 2px;
    left: 0;
}

#address-content p {
    font-weight: bold;
    margin-bottom: 50px;
}

/*Form Container*/

#form-container {
    padding-top: 60px;
    text-align: center;
}

#form-container h2 {
    color: #888;
    margin-bottom: 50px;
    font-size: 30px;
}

#contact-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contact-form input,
#contact-form label,
#contact-form textarea {
    display: block;
    padding: 10px;
    border: 1px solid #EEE;
    width: 100%;
    color: #AAA;
}

#contact-form label {
    color: #999;
    font-weight: bold;
    border-bottom: none;
}

#contact-form input {
    margin-bottom: 15px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #CCC;
}

#contact-form input[type="submit"],
#contact-form input[type="reset"] {
    background-color: #00AD5E;
    font-weight: bolder;
    color: #00000083;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    margin: 15px auto;
    border: 2px solid transparent;
    transition: .5s;
}


#contact-form input[type="reset"] {
    background-color: rgba(255, 0, 0, 0.721);
    color: #00000084;
}

#contact-form input[type="submit"]:hover,
#contact-form input[type="reset"]:hover {
    border-color: #00AD5E;
    background-color: #FFF;
}

/* Responsividade */
@media(max-width: 450px) {
    #main-container {
        height: 100%;
        flex-wrap: wrap; /* Com isso ele ira entender que esta tudo junto, tanto form quanto endereco e que cada um tera seu posicionamento novamente*/
    }

    #form-container,
    #address-container {
        flex: 1 1 100%; /* Juntando nosso flex wrap com esse 100% ele ira entender que um ira ficar abaixo do outro*/
    }

    #form-container {
        order: -1; /* Com isso estamos dizendo que o container de formulario ira vir primeiro*/
        padding: 20px;
    }

    #form-container h2 {
        margin-bottom: 25px;
    }

    #contact-form {
        width: 100%;
    }

    #contact-form input,
    #contact-form label,
    #contact-form textarea {
        border-color: #aaa;
}

    #address-container {
        background-position: 0;
        height: 500px;
    }

    .fade {
        opacity: .9;
    }

    #address-content { /* Aqui removemos o scroll lateral jogando nossa imagem para esquerda*/
        top: 25%;
        left: 25%;
    }

}